*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:#081b3d;

color:white;

}

header{

padding:30px;

text-align:center;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:50px;

}

.left{

width:50%;

}

.right{

width:40%;

display:flex;

justify-content:center;

}

.photo{

width:320px;

height:420px;

background:white;

border-radius:20px;

display:flex;

justify-content:center;

align-items:center;

color:#081b3d;

font-size:22px;

}

button{

padding:15px 30px;

background:white;

color:#081b3d;

border:none;

margin-top:20px;

cursor:pointer;

border-radius:10px;

font-weight:bold;

}

section{

padding:50px;

}

.teacher{

background:#0d2d63;

padding:20px;

margin-top:20px;

border-radius:15px;

}

#chat{

background:white;

padding:20px;

border-radius:20px;

}

#messages{

height:250px;

overflow:auto;

color:black;

margin-bottom:15px;

}

input{

width:100%;

padding:12px;

margin-bottom:10px;

}